@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&display=swap');


@import "./utils/reset";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/modules";


*, html {
    box-sizing: border-box;
}


body {
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
}           


