

:root {
    --color-purple: rgba(60, 71, 233, 1);
    --color-blue: rgba(30, 33, 58,1);
    --color-dark: rgba(16, 14, 29, 1);
    --color-grey: rgb(109, 111, 120);
    --color-white:  rgba(231, 231, 235, 1);
    --color-shadow: rgba(0, 0, 0, 0.25);
    --color-yellow: rgba(255, 236, 101, 1);
    --color-red: rgb(187, 27, 27);

    --font: 'Raleway', sans-serif;

}


